*{
    margin:0;
    padding:0;
    
    
    
}
 .form-register{
      width: 400px;
      background: green;
      padding: 10px;
      margin:auto;
      margin-top: 100px;
  }
  .controls{
     width: 100%; 
      padding: 10px;
      margin-bottom: 16px;
      
  }
    .datos
   {
         padding: 10px;
      margin:100px;
      margin-top: 50px;
      
   }
   .gris 
   {
       color: white;
       height: 20%;
       width: 50%;
       background-color: gray;
       
   }
  
   .Marron
   {
        color: white;
       height: 20%;
       width: 50%;
       background-color: brown;
   }
   .verde{
        color: white;
        height: 20%;
       width: 50%;
       background-color: greenyellow;
   }